{% extends 'base.html.twig' %}

{% block title %}Nos événements - {{ parent() }}{% endblock %}

{% block body %}
<div class="event-show">
    {% set picture = ( event.picture matches '/^http/' ) ? event.picture : asset( 'data/' ~ event.picture ) %}
    <div class="event-show__picture" style="background-image: url('{{ picture }}');">
        <h1>{{ event.name }}</h1>
    </div>
    
    <div class="row">
        <p class="col-12 col-lg-8">
            {{ event.description }}
        </p>
        <aside class="col-12 col-lg-4">
            <ul>
                <li>Début : {{ date( event.startAt )|date('d/m/Y H:i') }}</li>
                <li>Fin : {{ date( event.endAt )|date('d/m/Y H:i') }}</li>
                <li>Prix : {{ event.price ? event.price|format_currency('EUR') : 'Gratuit' }}</li>
                <li>Lieu : {{ event.place.name }} ({{ event.place.address ~ " - " ~ event.place.city }})</li>
                <li>Capacité : {{ event.capacity ?? 'Ilimité' }}</li>
                <li>Organisateur : {{ event.owner.email }}</li>
            </ul>
            <div class="actions mb-3">
                <a href="{{ path( 'event_update', { id: event.id } ) }}" class="btn btn-info">Modifier</a>
                <a href="{{ path( 'event_remove', { id: event.id } ) }}" class="btn btn-danger">Supprimer</a>
            </div>
        </aside>
    </div>

</div>
{% endblock %}
