<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BeerTime{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{ path('main_home') }}">
                <img src="{{ asset('build/images/icon.png') }}" alt="Logo de BeerTime">
                BeerTime
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_list') }}">Nos événements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_new') }}">Créer un événement</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('event_list') }}">
                    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Rechercher ..." aria-label="Rechercher">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            BeerTime - Tous droits reservés {{ date()|date('Y') }}
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
